
# RewriteEngine On
# RewriteCond %{HTTPS} !=on
# RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301,NE] 

<IfModule mod_rewrite.c>
  RewriteEngine On

  # Some hosts may require you to use the `RewriteBase` directive.
  # Determine the RewriteBase automatically and set it as environment variable.
  # If you are using Apache aliases to do mass virtual hosting or installed the
  # project in a subdirectory, the base path will be prepended to allow proper
  # resolution of the index.php file and to redirect to the correct URI. It will
  # work in environments without path prefix as well, providing a safe, one-size
  # fits all solution. But as you do not need it in this case, you can comment
  # the following 2 lines to eliminate the overhead.
  RewriteCond %{REQUEST_URI}::$1 ^(/.+)/(.*)::\2$
  RewriteRule ^(.*) - [E=BASE:%1]

  # If the above doesn't work you might need to set the `RewriteBase` directive manually, it should be the
  # absolute physical path to the directory that contains this htaccess file.
  # RewriteBase /

  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^ index.php [QSA,L]
</IfModule>

# Disable directory browsing 
Options -Indexes

# Hide the contents of directories
IndexIgnore *

<Files *.*>
    Order Deny,Allow
    Deny from all
</Files>

<Files "adm">
    Order Deny,Allow
    Deny from all
</Files>

<Files "LICENSE">
    Order Deny,Allow
    Deny from all
</Files>

<Files "composer.json">
    Order Deny,Allow
    Deny from all
</Files>

<Files "composer.lock">
    Order Deny,Allow
    Deny from all
</Files>

<Files ".gitignore">
    Order Deny,Allow
    Deny from all
</Files>

<Files ".env">
    Order Deny,Allow
    Deny from all
</Files>

<Files ".env.example">
    Order Deny,Allow
    Deny from all
</Files>

<Files *.sql>
    Order Deny,Allow
    Deny from all
</Files>

<Files *.sqlite>
    Order Deny,Allow
    Deny from all
</Files>

<Files *.config>
    Order Deny,Allow
    Deny from all
</Files>

<Files *.txt>
    Order Allow,Deny
    Allow from all
</Files>

<Files *.css>
    Order Allow,Deny
    Allow from all
</Files>

<Files *.js>
    Order Allow,Deny
    Allow from all
</Files>

<Files *.html>
    Order Allow,Deny
    Allow from all
</Files>

<Files *.jpeg>
    Order Allow,Deny
    Allow from all
</Files>

<Files *.jpg>
    Order Allow,Deny
    Allow from all
</Files>

<Files *.png>
    Order Allow,Deny
    Allow from all
</Files>

<Files *.ico>
    Order Allow,Deny
    Allow from all
</Files>

<Files index.php>
    Order Allow,Deny
    Allow from all
</Files>
