
# nginx configuration by winginx.com

autoindex off;

autoindex off;

location / {
  if (!-e $request_filename){
    rewrite ^(.*)$ /index.php break;
  }
}

location ~ *.* {
  deny all;
}

location /LICENSE {
  deny all;
}

location ~ *.txt {
  allow all;
}

location ~ *.css {
  allow all;
}

location ~ *.js {
  allow all;
}

location ~ *.html {
  allow all;
}

location ~ *.jpeg {
  allow all;
}

location ~ *.jpg {
  allow all;
}

location ~ *.png {
  allow all;
}

location ~ *.ico {
  allow all;
}

location /index.php {
  allow all;
}
