
.text-primary {
    color: #052c65 !important;
}

.bg-primary, .btn-primary {
    transition: 0.5s;
    background: #052c65 !important;
}

.btn-primary:hover {
    transition: 0.125s;
    color: #052c65 !important;
    background: #fff !important;
}

.btn-outline-primary {
    transition: 0.5s;
    border: 1px #052c65 solid !important;
}

.btn-outline-primary:hover {
    transition: 0.125s;
    color: #fff !important;
    background: #052c65 !important;
}

.table thead tr th:first-child {
    border-top-left-radius: 3px;
}

.table thead tr th:last-child  {
    border-top-right-radius: 3px;
}

.table tbody tr:last-child td:first-child {
    border-bottom-left-radius: 3px;
}

.table tbody tr:last-child td:last-child {
    border-bottom-right-radius: 3px;
}
